.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-img-top.custom-img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.card-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
}
